# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
!terraform.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraform.lock.hcl

# Node
node_modules/
npm-debug.log*
coverage/
.env
.env.*
!.env.example

# OS / editor
.DS_Store
*.swp
.vscode/
.idea/

# Docker
*.tar

# Misc
*.zip
